h1 {
    color:aqua;
    background-color: #4f4f4f;
}

body {
    background-color: #4f4f4f;
    }
    
#testing {
height: 50px;
width: 200px;
border-radius: 50%;
background-color: darkgreen;
text-shadow: 10px;
}

#closed {
    display:none;
}

#pic {
    height: 25%;
    width: 25%;
}
